.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/Buzzify/.gradle
/Buzzify/local.properties
/Buzzify/.idea/workspace.xml
/Buzzify/.idea/libraries
/Buzzify/.DS_Store
/Buzzify/build
/Buzzify/captures

/Buzzify/ParseUI-Login/build
/Buzzify/ParseUI-Widget/build

Buzzify/ParseUI-Login/build
Buzzify/ParseUI-Widget/build
Buzzify/build